/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore generated code coverage information
/spec/coverage/*
/coverage/*

# Ignore RSpec state
/spec/examples.txt
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/cancancan-baby_squeel.iml
